<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Interface</key>
	<string>{{592, 74}, {560, 746}}</string>
	<key>API Interface.incl</key>
	<string>{{586, 52}, {1124, 1006}}</string>
	<key>API_XIB_Application.incl</key>
	<string>{{598, 86}, {1002, 906}}</string>
	<key>EventHandlers.incl</key>
	<string>{{759, 53}, {920, 1006}}</string>
	<key>Globals.glbl</key>
	<string>{{1282, 83}, {470, 926}}</string>
	<key>JSON Interface</key>
	<string>{{186, 141}, {711, 772}}</string>
	<key>JSON Interface.incl</key>
	<string>{{215, 72}, {850, 812}}</string>
	<key>JSONtoXIB.incl</key>
	<string>{{740, 279}, {773, 749}}</string>
	<key>Menus.incl</key>
	<string>{{650, 292}, {560, 746}}</string>
	<key>URLSession Sample 2.fbeproj</key>
	<string>{{186, 652}, {250, 413}}</string>
	<key>URLSession Sample.fbeproj</key>
	<string>{{171, 363}, {283, 663}}</string>
	<key>URLSession Sample.main</key>
	<string>{{563, 103}, {560, 746}}</string>
	<key>Validations.incl</key>
	<string>{{498, 123}, {1280, 746}}</string>
	<key>Windows.incl</key>
	<string>{{451, 47}, {1347, 1041}}</string>
</dict>
</plist>
